/* Resets the margin and padding to zero so that I don't have to worry about each browsers specifications on these values. Also, I've 
set the box-sizing to border-box, so that I don't have to do the additional math when determing height/width with margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*-------------
  Flexbox Layout Start
-------------*/
#container {
  display: flex;
  justify-content: center;
  height: 100%;
  background: url("../img/background-photo.jpg") no-repeat;
  background-size: cover;
}
#column {
  display: flex;
  flex-direction: column;
}
#title-and-input {
  display: flex;
  flex-direction: column;
}
/*-------------
  Flexbox Layout End
-------------*/

.blue-button {
  background-color:rgb(10, 155, 181) /*rgb(171, 242, 246)*/;
  border: none;
  padding:5px 10px;
  width:100px;
}
.blue-button:hover{
  background-color:rgba(0,0,255,0.6);
  transform:scale(1.2,1.2);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  transition: 0.4s;
  -webkit-transition: 0.4s;
}
h1{
  margin:1.2em 0;
}
#todo fieldset legend h2{
  color:white;
}
#inputfield{
  margin:5px 20px;
  padding:5px 10px;
  width:300px;
}
li {
  list-style-type: none;
  padding: 5px 10px;
  font-size:24px;
}
li button {
  background-color: rgb(244, 74, 17);
  border: none;
  padding: 5px 10px;
  margin: 10px;
}
li button:hover {
  background-color: rgb(170 , 0, 0);
  margin-left:10px /*4px*/;
  transform:scale(1.1,1.1);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

/*-------------
  Dropdown CSS Start
-------------*/
#dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  padding: 6px 8px;
  z-index: 1;
}
#dropdown:hover #dropdown-content {
  display: block;
}
#dropdown-content > p {
  color: blue;
}
/*-------------
  Dropdown CSS End
-------------*/

/*-------------
  Dark Mode CSS Start
-------------*/
.dark-mode-background {
  background: #575A6A !important;
}
.dark-mode-text {
  color: #E3E5F1 !important;
}
/*-------------
  Dark Mode CSS End
-------------*/

/*-------------
  Generic Classes Start
-------------*/
.inline-block {
  display: inline-block;
}
.cursor {
  cursor: pointer;
}
/*-------------
  Generic Classes End
-------------*/

/*
  Class for the struck of text that has been marked completed
  also changes the text color to grey
*/
.completed {
    text-decoration: line-through;
    color: #3b3c3d  /*#888888*/;
}
